:root {
  --primary-color: #000000;        
  --secondary-color: #466362;      
  --accent-color: #343F3E;         
  --background-color: #8F91A2;     
  --text-color: #000000;          
  --nav-link-color: #C5D9E2;    
  --nav-link-current-bg: #000000;  
  --nav-link-current-color: #ffffff; 
  --nav-border-color: rgb(255, 0, 0);       


* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: var(--text-color);
  background-color: var(--pri);
}


nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px var(--nav-border-color);
  background-color: var(--primary-color);
}


nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px var(--nav-border-color);
  text-align: center;
  text-decoration: none;
  color: var(--nav-link-color);
  transition: background-color 0.3s, color 0.3s;
}


nav a:hover {
  background-color: var(--accent-color);
  color: #fff;
}

nav a[aria-current='page'] {
  color: var(--nav-link-current-color);
  background-color: var(--nav-link-current-bg);
}


main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}